<mat-sidenav-container>
    <mat-sidenav
        #sidenav
        role="navigation"
    >
        <mat-nav-list>
            <a
                mat-list-item
                routerLink="tutorials"
            >
                <mat-icon class="icon">home</mat-icon>
                <span class="label">Home</span>
            </a>
            <a
                mat-list-item
                routerLink="add"
            >
                <mat-icon class="icon">add_box</mat-icon>
                <span class="label">Add</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>
                <a>TODO</a>
            </div>
            <div
                fxFlex
                fxLayout
                fxLayoutAlign="flex-end"
                fxHide.xs
            >
                <ul
                    fxLayout
                    fxLayoutGap="20px"
                    class="navigation-items"
                >

                    <li>
                        <a routerLink="tutorials">
                            <mat-icon class="icon">home</mat-icon>
                            <span class="label">Home</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="add">
                            <mat-icon class="icon">add_box</mat-icon>
                            <span class="label">Add</span>
                        </a>
                    </li>

                </ul>
            </div>
        </mat-toolbar>
        <main class="container mt-3">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
