<div>
    <div
        *ngIf="currentTutorial.id"
        class="w-25 m-auto"
    >
        <h4>Tutorial</h4>
        <form>
            <div class="form-group my-3">
                <label for="title">Title</label>
                <input
                    type="text"
                    class="form-control"
                    id="title"
                    [(ngModel)]="currentTutorial.title"
                    name="title"
                >
            </div>
            <div class="form-group my-3">
                <label for="description">Description</label>
                <input
                    type="text"
                    class="form-control"
                    id="description"
                    [(ngModel)]="currentTutorial.description"
                    name="description"
                >
            </div>

            <div class="form-group my-3">
                <label>
                    <strong>Status:</strong>
                </label>
                {{ currentTutorial.published ? "Published" : "Pending" }}
            </div>
        </form>

        <button
            class="badge bg-primary me-2"
            *ngIf="currentTutorial.published"
            (click)="updatePublished(false)"
        >
            UnPublish
        </button>
        <button
            *ngIf="!currentTutorial.published"
            class="badge bg-primary me-2"
            (click)="updatePublished(true)"
        >
            Publish
        </button>

        <button
            class="badge bg-danger me-2"
            (click)="deleteTutorial()"
        >
            Delete
        </button>

        <button
            type="submit"
            class="badge bg-success mb-2"
            (click)="updateTutorial()"
        >
            Update
        </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentTutorial.id">
        <br>
        <p>Cannot access this Tutorial...</p>
    </div>
</div>
