<div>
    <div class="w-50 m-auto">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="title">Title</label>
                <input
                    type="text"
                    class="form-control"
                    id="title"
                    required
                    [(ngModel)]="tutorial.title"
                    name="title"
                >
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input
                    class="form-control"
                    id="description"
                    required
                    [(ngModel)]="tutorial.description"
                    name="description"
                >
            </div>

            <button
                (click)="saveTutorial()"
                class="btn btn-success mt-3"
            >
                Submit
            </button>
        </div>

        <div *ngIf="submitted">
            <h4>Tutorial was submitted successfully!</h4>
            <button
                class="btn btn-success"
                (click)="newTutorial()"
            >
                Add
            </button>
        </div>
    </div>
</div>
